#box{
  color: red;
}
.test-div{
  width: 200px;
  height: 200px;
  background-image: url("../image/slider3.jpg");
}
/* placeholder 属性提供可描述输入字段预期值的提示信息（hint）。
该提示会在输入字段为空时显示，并会在字段获得焦点时消失。 */
::placeholder{
  color: red;
}
.ffff{
  color: red;
}
.test-text{
  color: blue;
}
.div1{
  color: red;
}
